// Override / set color variables
$dark-light: #a2c3e9;
$orange: #f26c22;

// Add custom variables ???
$dark: $dark-light;
$secondary: $orange;


// $custom-colors: (
//   "custom-color": #900
// );

// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);


// Create your own map
